---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - capture.io.github.bibizyann
  resources:
  - packetcaptures
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - capture.io.github.bibizyann
  resources:
  - packetcaptures/finalizers
  verbs:
  - update
- apiGroups:
  - capture.io.github.bibizyann
  resources:
  - packetcaptures/status
  verbs:
  - get
  - patch
  - update
