---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  name: packetcaptures.capture.io.github.bibizyann
spec:
  group: capture.io.github.bibizyann
  names:
    kind: PacketCapture
    listKind: PacketCaptureList
    plural: packetcaptures
    singular: packetcapture
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: PacketCapture is the Schema for the packetcaptures API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: spec defines the desired state of PacketCapture
            properties:
              durationSeconds:
                description: |-
                  DurationSeconds определяет, как долго должен длиться захват.
                  0 или nil может означать ручную остановку.
                format: int32
                type: integer
              filterExpression:
                description: |-
                  FilterExpression - выражение в формате BPF (Berkeley Packet Filter),
                  например, "tcp port 80 and host 10.0.0.1".
                type: string
              targetSelector:
                description: |-
                  TargetSelector определяет Pod, с которого нужно снять трафик.
                  Это будет либо имя/UID, либо набор меток (label selector).
                  K8s-операторы часто используют метки для гибкости.
                properties:
                  matchExpressions:
                    description: matchExpressions is a list of label selector requirements.
                      The requirements are ANDed.
                    items:
                      description: |-
                        A label selector requirement is a selector that contains values, a key, and an operator that
                        relates the key and values.
                      properties:
                        key:
                          description: key is the label key that the selector applies
                            to.
                          type: string
                        operator:
                          description: |-
                            operator represents a key's relationship to a set of values.
                            Valid operators are In, NotIn, Exists and DoesNotExist.
                          type: string
                        values:
                          description: |-
                            values is an array of string values. If the operator is In or NotIn,
                            the values array must be non-empty. If the operator is Exists or DoesNotExist,
                            the values array must be empty. This array is replaced during a strategic
                            merge patch.
                          items:
                            type: string
                          type: array
                          x-kubernetes-list-type: atomic
                      required:
                      - key
                      - operator
                      type: object
                    type: array
                    x-kubernetes-list-type: atomic
                  matchLabels:
                    additionalProperties:
                      type: string
                    description: |-
                      matchLabels is a map of {key,value} pairs. A single {key,value} in the matchLabels
                      map is equivalent to an element of matchExpressions, whose key field is "key", the
                      operator is "In", and the values array contains only "value". The requirements are ANDed.
                    type: object
                type: object
                x-kubernetes-map-type: atomic
            required:
            - durationSeconds
            - targetSelector
            type: object
          status:
            description: status defines the observed state of PacketCapture
            properties:
              downloadURL:
                description: DownloadURL - URL для скачивания файла (для Этапа 5).
                type: string
              nodeName:
                description: NodeName - имя ноды, на которой запущен Job-сниффер (для
                  Этапа 3).
                type: string
              pcapFilename:
                description: PcapFilename - имя конечного файла с дампом.
                type: string
              phase:
                description: 'Phase описывает текущее состояние: Pending, Running,
                  Complete, Failed.'
                type: string
              startTime:
                description: StartTime - время начала захвата.
                format: date-time
                type: string
            required:
            - phase
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
